<%- include('header'); -%>
    <!-- Navbar - End -->
    <!-- MCQ - Start -->
    <div class="wrapper mb-4 ">
        <div class="container card-body align-self-center">
            <% use1.forEach(function(neww){   %> 
            <h6><%= neww.Question %></h6>
            <hr>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo.</p>
            <form action="/mcq" method="POST">
            <div class="">
                <div class="checkbox form-check my-3">
                    <input class=" checkbox form-check-input" type="checkbox" name="ans"
                        id="flexRadioDefault1" value="<%= neww.Option1 %>">
                <label class="checkbox form-check-label" for="flexRadioDefault1" name="ans" >
                    <%= neww.Option1 %>
                </label>
                </div>
                <div class="checkbox form-check my-3">
                    <input class=" checkbox form-check-input" type="checkbox" name="ans"
                        id="flexRadioDefault1" value="<%= neww.Option2 %>">
                <label class="checkbox form-check-label" for="flexRadioDefault1" name="ans" >
                    <%=neww.Option2 %>
                    
                </label>
                </div>
                <div class="checkbox form-check my-3">
                    <input class=" checkbox form-check-input" type="checkbox" name="ans"
                        id="flexRadioDefault1" value="<%= neww.Option3 %>">
                <label class="checkbox form-check-label" for="flexRadioDefault1" name="ans" >
                    <%= neww.Option3 %>
                </label>
                </div>
                <div class="checkbox form-check my-3">
                    <input class=" checkbox form-check-input" type="checkbox" name="ans"
                        id="flexRadioDefault1" value="<%=neww.Option4 %>">
                <label class="checkbox form-check-label" for="flexRadioDefault1" name="ans" >
                    <%= neww.Option4 %> 
                </label>
                </div>
            </div>
            <% });%>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn rounded-pill  btn-dark px-4">Continue</button>
            </div>
            </form>
        </div>
    </div>
    <!-- MCQ - End -->
    <script>
    window.onload = function () {
    var minute = 50;
    var sec = 60;
    setInterval(function () {
        document.getElementById("timer").innerHTML = minute + " : " + sec;
        sec--;
        if (sec == 00) {
            minute--;
            sec = 60;
            if (minute == 0) {
                minute = 5;
            }
        }
    }, 1000);
}
    </script>
</body>
</html>