<% for(var i = 0; i < users.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= users[i].Question %></td>
        <td><%= users[i].Option1 %></td>
        <td><%= users[i].Option2 %></td>
        <td><%= users[i].Option3 %></td>
        <td><%= users[i].Option4 %></td>
        <td><%= users[i].IsCorrect %></td>
        <td><%= users[i].essayQuestion %></td>
        <td><%= users[i].Description %></td>
        <td>
            <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
<% } %>